html, body {
    height: 100%;
    margin: 0;
    width: 100%;
}

html {
    font-family: sans-serif, arial;
}

.nav {
    border-bottom: 1px solid lightgray;
    height: 70px;
    line-height: 70px;
    text-align: right;
}

.menu {
    margin: 0 30px 0 0;
}

.menu a {
    clear: right;
    color: gray;
    line-height: 70px;
    margin: 0 10px;
    text-decoration: none;
}

span {
    color: rgb(0, 105, 47);
}

label {
    display: none;
    float:right;
    font-size: 26px;
    line-height: 70px;
    margin: 0 40px 0 0;
    width: 26px;
}

#toggle {
    display: none;
}

@media only screen and (max-width: 500px) {
    label {
        cursor: pointer;
        display: block;
    }
    
    .menu {
        display: none;
        text-align: center;
        width: 100%;
    }
    
    .menu a {
        border-bottom: 1px solid lightgray;
        display: block;
        margin: 0;
    }

    #toggle:checked + .menu {
        display: block;
    }
}

